*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1070px;
    height: auto;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';