.header {
    position: fixed;
    width: 100%;
    height: 145px;
    background-color: #E3E4E6;
    padding-top: 70px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__phone {
        text-decoration: none;
        color: #000000;
    }
    &-menu {
        width: 500px;
        &__list {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            font-size: 12px;
        }
        &__item {
            &:last-child {
                &:before {
                    content: "";
                    position: absolute;
                    transform: translateX(-10px);
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    border: 1px solid #000000;
                }
                &:after {
                    content: "";
                    position: absolute;
                    transform: translate(-102px, 70%);
                    width: 10px;
                    height: 7px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border: 1px solid #000000;
                }
            }
        }
        &__link {
            color: #000000;
            text-decoration: none;
        }
    }
}